  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }


  li:hover{
   backgrond-color:gray;
   border-radius:10px;
   border:1px solid yellow;

}


