{% extends 'base.html'%}
{% block content %}
<div class="about">
    <div class="ab-row">
    <h1 class="ab-h1">Who We Are</h1>
    <p class="ab-p1">
       The 'Save Our Art Kathakali' is the leading Kathakali group outside of India.
        Our vision is to make Kathakali accessible, understandable and enjoyable to people of all ages,
        abilities and cultural backgrounds throughout the UK and internationally.</p>
    </div>
     <div class="ab-row">
    <h1 class="ab-h1">How It All Began</h1>
    <p class="ab-p1">The 'Save Our Art Kathakali' was founded in 1987 by Kathakali make-up specialist,
        Kalamandalam Barbara Vijayakumar and Kathakali actor, Kalamandalam Vijayakumar to bring
        the remarkable art and culture of Kathakali to the UK. Since then we have toured
        all over the UK enabling thousands of people to experience the powerful storytelling of Kathakali.
     </p>
     </div>
    <div class="ab-row">
    <h1 class="ab-h1">Our Mission</h1>
        <p class="ab-p1">Our mission is to deliver outstanding Asian theatre and culture through
    workshops and performances by eminent artists from India, to encourage equality,
    understanding and respect through a common enjoyment of the arts.
     </p>
    </div>
    <div class="ab-row">
    <h1 class="ab-h1">Save Our Art Kathakali </h1>
    <p class="ab-p1">We aim to provide exciting and imaginative work to encourage maximum participation in the arts.
    The save our art kathakali provides a variety of workshops, an educational/community programme,
    training, exhibitions of our costumes plus national and international touring.
    </p>
    </div>


{% endblock %}


</div>