{% extends 'base.html'%}
{% block content %}
<div class="image">
    <h1>Contact Us</h1>
</div>
<div class="contact">
<address>
    Phone<br>
Enquiry (General) +91- 4884 262418<br>
Registrar +91- 4884 262562<br>
Tourism +91- 4884 262305<br>
Nila Campus +91- 4884 262485<br>
Publication Division +91- 4884 262305<br>
</address>

<address>
Email<br>
info@kalamandalam.ac.in<br>
</address>

<address>
Address<br>


Kerala Kalamandalam Deemed University<br>

Vallathol Nagar, Cheruthuruthy PO,<br>

Thrissur District<br>

Pin: 679 531<br>

 Kerala, India
</address>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.968339388951!2d76.27584657369529!3d10.73692355992388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7dccf31776b35%3A0x12352f0df19a54c4!2sKerala%20Kalamandalam!5e0!3m2!1sen!2sqa!4v1720609515880!5m2!1sen!2sqa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}