{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-content">
        <h1 class="carousel-text">WELCOME ALL</h1>
        <img src="static\images\welcome 3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <h1 class="carousel-text">Join Us For Know About Kerala art</h1>
        <img src="static\images\bgh.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <h1 class="carousel-text">Save Our Art Kathakali</h1>
        <img src="static\images\imagebg.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="head">
    <h1>SAVE OUR ART KATHAKALI</h1>
    <p>Kathakali is one of the most stylized classical Indian dance-drama known for the classic colorful make-up of characters elaborate costumes, detailed gestures and well-defined body movements (Mudra) presented in tune with the anchor playback music and complementary percussion. It originated in Kerala during the 17th century and has developed over the years with lots of improvements on looks, refined gestures and added themes besides more ornate singing and precise drumming during show.

Popular belief is that kathakali is emerged from “Krishnanattam”, the dance drama on the life and activities of Lord Krishna created by Sri Manavedan Raja, the Zamorin of Calicut (1585-1658 AD). Once Kottarakkara Thampuran, the Raja of Kottarakkara who was attracted by Krishnanattam requested the Zamorin for the loan of a troupe of performers. Due to the political rivalry between the two, Zamorin did not allow this. So Kottarakkara Thampuran created another art form called Ramanattam which was later transformed into Aattakatha. Krishnanaattam was written in Sanskrit, and Ramanattam was in Malayalam. By the end of 17th century, Attakatha was presented to the world with the title ‘Kathakali’.

Kathakali also shares a lot of similarities with Krishnanattam, Koodiyattam, a classical Sanskrit drama in Kerala and Ashtapadiyattam; an adaptation of 12th-century musical called Gitagovindam. It also incorporates several other elements from traditional and ritualistic art forms like Mudiyettu, Thiyyattu, Theyyam and Padayani besides a minor share of folk arts like Porattunatakam. All along, the martial art of Kalarippayattu has influenced the body language of Kathakali. The use of Malayalam, the local language has also helped the literature of Kathakali sound more easy for the regular audience.

Most of the sorties in Kathakali dance-dramas are from Mahabharata or Ramayana. In Kathakali traditionally there are 101 classical stories. Almost all of them were initially composed to last a whole night. Nowadays, some few stories are performed for 3-4 hours. Thus, many stories find stage presentation in parts rather than totality. Selection is based on criteria like chorographical beauty, thematic relevance/popularity or their melodramatic elements. Kathakali is a classical art form, but it can be appreciated also by novices—all contributed by the elegant looks of its character, their abstract movements and its synchronization with the rhythmic beats.

Navrasam - Facial Expressions are important in Kathakai dance, there are total nine main facial expressions and they are used to convey various emotions through a variety of facial expressions and hand gestures. The nine emotions are Sringara (amour/love), Hasyam (comic), Karunam (pathetic), Raudram (furious/anger), Viram (heroic), Bhayanakam (terrible),
Bibhatsam (odious), Adbhutham (wonder) and Santam (tranquility/peace). Here are nine images represnets expressions.
    </p>
</div>

 <img src="{% static 'images/kathakali-navarasa-.jpg' %}" alt="Navarasa" style="width: 100%; height: auto; display: block;">

{% endblock %}